@page "/Database"
@using CleanArchitectureForBlazor.Application.Repositories
@using CleanArchitectureForBlazor.Domain.Entities

@inject  IMovieRepository movieService;

<h1>Movie List</h1>

@if (movies == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var movie in movies)
        {
            <li>@movie.Title</li>
            <li>@movie.ReleaseDate</li>
        }
    </ul>
}

@code {
    public List<Movie> movies { get; set; }
    public string test { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Await the asynchronous call and assign the result directly to the movies property
        movies = (await movieService.GetAllMoviesAsync()).ToList();
    }
}