@page "/"
@using CleanArchitectureForBlazor.Application.Services
@inject IMovieService movieService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@movieService.GetMovieByIdAsync(1);

<p> Title: @movieService.GetMovieByIdAsync(1)</p>


Welcome to your new app.

@code{

}